/**
 * Main entry point for {{ project_name }}
 */

/**
 * Main function that runs the application
 */
function main() {
  console.log('Hello from {{ project_name }}!');
}

// Run the main function if this file is executed directly
if (require.main === module) {
  main();
}

module.exports = { main };
