name: ci
permissions:
  id-token: write
  contents: read
  attestations: write
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
jobs:
  cargo:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
        with:
          env-vars: ""
          prefix-key: rust
          shared-key: ci
      - name: build
        run: cargo build
      - name: test
        run: cargo test

      - name: artifact
        if: success()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          path: target/debug/jig
          name: jig-ubuntu-24.04-stable
      - name: attestation
        if: success()
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f
        with:
          subject-path: target/debug/jig
  trunk:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: trunk
        uses: trunk-io/trunk-action@bf81325059d2534b31df5365182237788c5e0338
        with:
          # trunk-ignore(trunk-toolbox)
          arguments: --filter=-trunk-toolbox/todo
